titles-form-page {
  .image {
    margin: auto;
    height: 100px;
    width: 100px;
    margin-top: 13px;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: block;
  }

  .button-inner {
    font-weight: bold;
  }
  .save-btn {
    float: right;
    left: -12px;
    top: 11px;
    color: #008000;
  }

  .select-md {
    padding: 13px 8px 13px 0px;
  }

  ion-select {
    max-width: 80%;
  }

  .card-md {
    padding-bottom: 26px;
  }
}
