one-to-one-chat-page {
  .bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
  }

  .add-image-button {
    font-size: 20px;
    padding-bottom: 4px;
    background: transparent;
  }

  .add-image-icon {
    color: #005677;
  }

  textarea::placeholder {
    font-size: 16.6px;
  }

  textarea {
    font-size: 16.6px;
    box-shadow: none;
    border: 1px solid;
    margin-bottom: -5px;
    border-radius: 10px;
    margin: 0px 6.4px;
    border-color: lightgrey;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #f8f8f8;
    width: calc(100% - 13px);
  }

  .bar-button-md[icon-only].send-button {
    padding-bottom: 3px;
  }
}
