<ion-header no-shadow no-border>
  <ion-navbar color="primary">
    <ion-buttons end>
      <button ion-button icon-only *ngIf="currentUser">
        <ion-icon name="person-add"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="otherUser && !isFollowing" (click)="follow()">
        <ion-icon name="ios-water"></ion-icon>
      </button>
      <button
        ion-button
        icon-only
        *ngIf="otherUser && isFollowing"
        color="drop"
        (click)="unfollow()"
      >
        <ion-icon name="ios-water" class="animated bounce delay-2s"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="userDetails"> {{ userDetails.userName }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="profile profile-background">
    <div>
      <ion-avatar *ngIf="!userDetails">
        <img [src]="defaultUserImage" class="cover-image" />
        <ion-icon *ngIf="otherUser && !isFollowing" (click)="follow()" name="ios-water"></ion-icon>
      </ion-avatar>
      <ion-avatar *ngIf="userDetails">
        <img
          [src]="userDetails.thumbnail || userDetails.profilePhoto"
          (click)="presentImage(userDetails.profilePhoto, userDetails.displayName)"
          class="cover-image"
          [ngClass]="{ 'animated fadeIn delay-3s': animate }"
        />
        <ion-icon *ngIf="otherUser && !isFollowing" (click)="follow()" name="ios-water"></ion-icon>
      </ion-avatar>
      <div *ngIf="userDetails">
        <h3>{{ userDetails.displayName }}</h3>
        <button class="follow-btn" (click)="goToFollowersPage()">
          <ion-icon name="person"></ion-icon> {{ followerCount }}
        </button>
      </div>
      <p>{{ userDetails?.bio }}</p>
    </div>
  </div>
  <ion-fab bottom right #fab *ngIf="currentUser && fabIcon === 'collections'">
    <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="goToTitlesFormPage(fab)">
        <ion-icon name="md-musical-notes"></ion-icon>
      </button>
      <button ion-fab (click)="goToCreateEventPage(fab)">
        <ion-icon name="md-videocam"></ion-icon>
      </button>
      <button ion-fab (click)="changePicture(fab)"><ion-icon name="md-images"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab bottom right #fab *ngIf="currentUser && fabIcon === 'titles'">
    <button ion-fab color="secondary" (click)="goToTitlesFormPage(fab)">
      <ion-icon name="md-create"></ion-icon>
    </button>
  </ion-fab>

  <super-tabs
    selectedTabIndex="1"
    toolbarBackground="primary"
    toolbarColor="white"
    indicatorColor="secondary"
    (tabSelect)="onTabSelect($event)"
  >
    <super-tab root="SkillsPage" title="SKILLS" icon="md-snow"></super-tab>
    <super-tab root="CollectionsPage" title="COLLECTIONS" icon="md-grid"></super-tab>
    <super-tab root="TitlesPage" title="TITLES" icon="md-trophy"></super-tab>
  </super-tabs>
</ion-content>
