profile-page {
  .follow-btn {
    width: auto;
    height: 19px;
    margin-top: 6px;
    background: #8cff00c2;
  }

  .bar-button-md[icon-only] ion-icon {
    margin-left: 8px;
    font-size: 1.6em;
  }

  shrinking-segment-header {
    background-color: #60af00;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin: auto;
      height: 96px;
      width: 96px;
      border-radius: 50%;
      box-shadow: 0 0 5px gray;
    }

    div {
      text-align: center;
    }
    div h3 {
      display: inline-block;
      text-align: center;
      margin: 5px 5px 5px 0px;
      font-size: 1.8rem;
      color: #ffffff;
    }
    p {
      color: #eeffd9fc;
      margin: 0px 0px 10px;
      text-align: center;
      padding: 0px 15px;
    }
  }

  .fab-md {
    margin-bottom: 77px;
  }

  ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button {
    font-size: 11.5px;
    padding: 0px;
  }
  ion-toolbar.toolbar
    .tab-buttons-container
    .tab-buttons
    super-tab-button.title-and-icon {
    height: 46px;
    padding-top: 0px;
  }

  ion-toolbar.toolbar
    .tab-buttons-container
    .tab-buttons
    super-tab-button.title-and-icon
    ion-icon {
    margin-bottom: 4px;
  }

  ion-toolbar.toolbar
    .tab-buttons-container
    .tab-buttons
    super-tab-button.selected {
    font-weight: bold;
  }

  ion-fab[bottom] {
    bottom: -63px;
  }
}
