collections-page {
  .list-header-md {
    margin: 0px;
    font-size: 1.6rem;
  }

  .image-container {
    width: calc(100% - 1.2px);
    height: 30vw;
    margin-bottom: 1.2px;
    background-size: cover;
  }

  .list-header-md {
    min-height: 36px;
    height: 0px;
  }

  .card-md {
    margin: 4px 4px -4px;
  }

  span {
    float: right;
    color: #4a8bfc;
  }

  .no-post {
    padding: 50% 0%;
  }
}
