<ion-content>
  <ion-refresher *ngIf="imagePosts" (ionRefresh)="getUserImagePosts($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!imagePosts" class="spinner-container"><ion-spinner></ion-spinner></div>
  <ion-row *ngIf="noPost"> <ion-col text-center class="no-post"> No post yet! </ion-col> </ion-row>
  <ion-card *ngIf="imagePosts && imagePosts.length > 0" class="round-card">
    <ion-list-header (click)="goToUserPostsPage()">
      Photos <span *ngIf="imagePosts.length > 5">View All</span>
    </ion-list-header>

    <ion-row no-padding>
      <ion-col no-padding col-4 *ngFor="let post of imagePosts">
        <img
          [defaultImage]="grayPlaceholder"
          [lazyLoad]="post.thumbnail || post.imageUrl"
          (click)="showPost(post)"
          class="image-container cover-image"
        />
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card *ngIf="videoPosts && videoPosts.length > 0" class="round-card">
    <ion-list-header>
      Videos <span *ngIf="videoPosts.length > 6">{{ videoPosts.length - 6 }}+</span>
      <span *ngIf="7 > videoPosts.length">View All</span>
    </ion-list-header>

    <ion-row no-padding>
      <ion-col no-padding col-4 *ngFor="let post of videoPosts">
        <img
          class="image-container"
          src="https://www.history.com/.image/t_share/MTU3ODc5MDgyNjY5OTc1MjYz/new-york-city.jpg"
        />
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card *ngIf="audioPosts && audioPosts.length > 0" class="round-card">
    <ion-list-header>
      Tracks <span *ngIf="audioPosts.length > 6">{{ audioPosts.length - 6 }}+</span>
      <span *ngIf="7 > audioPosts.length">View All</span>
    </ion-list-header>
    <ion-row no-padding>
      <ion-col no-padding col-4 *ngFor="let post of audioPosts">
        <img
          class="image-container"
          src="https://www.history.com/.image/t_share/MTU3ODc5MDgyNjY5OTc1MjYz/new-york-city.jpg"
        />
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
