<ion-header>
  <ion-navbar color="primary"> <ion-title>Guest List</ion-title> </ion-navbar>
  <ion-toolbar color="primary" no-border>
    <ion-segment [(ngModel)]="type" color="light">
      <ion-segment-button value="interested" (ionSelect)="fetchInterestedUsers()" color="light">
        Interested
      </ion-segment-button>
      <ion-segment-button value="going" (ionSelect)="fetchGoingUsers()"> Going </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="type">
    <div *ngIf="!interestedUsers" class="spinner-container"><ion-spinner></ion-spinner></div>
    <ion-list *ngSwitchCase="'interested'">
      <ion-item class="click" *ngFor="let user of interestedUsers" (click)="goToProfilePage(user)">
        <ion-avatar item-start>
          <img
            alt=""
            class="cover-image animated fadeIn delay-3s"
            [defaultImage]="grayPlaceholder"
            [lazyLoad]="user.thumbnail || user.profilePhoto"
            [errorImage]="user.profilePhoto"
          />
        </ion-avatar>
        <h2>{{ user.userName }}</h2>
        <p>{{ user.displayName }}</p>
      </ion-item>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
          [loadingSpinner]="interestedLoader"
          [loadingText]="interestedLoadingText"
        ></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>

    <ion-list *ngSwitchCase="'going'">
      <div *ngIf="!goingUsers" class="spinner-container"><ion-spinner></ion-spinner></div>
      <ion-item class="click" *ngFor="let user of goingUsers" (click)="goToProfilePage(user)">
        <ion-avatar item-start>
          <img
            alt=""
            class="cover-image animated fadeIn delay-3s"
            [defaultImage]="grayPlaceholder"
            [lazyLoad]="user.thumbnail || user.profilePhoto"
            [errorImage]="user.profilePhoto"
          />
        </ion-avatar>
        <h2>{{ user.userName }}</h2>
        <p>{{ user.displayName }}</p>
      </ion-item>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
          [loadingSpinner]="goingLoader"
          [loadingText]="goingLoadingText"
        ></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
  </div>
</ion-content>
