user-posts-page {
  .segment-button.segment-activated {
    font-weight: bold;
  }

  .toolbar-md {
    margin-bottom: -7px;
  }

  .toolbar-background-md {
    height: 90%;
  }

  .toolbar-background-ios {
    height: 100%;
  }

  .image-container {
    width: calc(100% - 1.2px);
    height: 30vw;
    margin-bottom: -2.8px;
    background-size: cover;
  }

  .list-md {
    margin: 2px 0 16px;
  }
}
