<ion-header [elasticHeader]="myContent">
  <ion-navbar color="primary"> <ion-title>Posts</ion-title> </ion-navbar>
  <ion-toolbar color="primary" no-border>
    <ion-segment [(ngModel)]="type" color="light">
      <ion-segment-button value="ThumbnailPost">
        <ion-icon name="albums"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="DetailPost" (ionSelect)="getPostsDetail()">
        <ion-icon name="browsers"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen #myContent>
  <div [ngSwitch]="type">
    <div *ngSwitchCase="'ThumbnailPost'" no-lines>
      <div *ngIf="!posts" class="spinner-container"><ion-spinner></ion-spinner></div>
      <div *ngIf="posts && posts.length > 0">
        <ion-row no-padding>
          <ion-col no-padding col-4 *ngFor="let post of posts">
            <img
              (click)="showPost(post)"
              class="image-container cover-image"
              [defaultImage]="grayPlaceholder"
              [lazyLoad]="post.thumbnail || post.imageUrl"
            />
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div *ngSwitchCase="'DetailPost'" no-lines><post [posts]="posts"></post></div>
  </div>
</ion-content>
