home-page {
  .item-md ion-avatar img {
    width: 54px;
    height: 54px;
  }

  .card-header-md {
    padding: 6px 11px 0px;
    color: #414e53;
    font-weight: bold;
  }

  .button-clear-md.share-thought-btn {
    padding: 0px;
    margin: 0px;
    color: #119081;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: capitalize;
  }

  .label-md {
    margin: 13px 8px 4px 0;
  }

  hr {
    height: 1.5px;
    margin-bottom: 0.5px;
  }

  .discover-btn {
    float: right;
  }

  .col {
    padding: 0px;
  }

  .profile-post {
    padding: 6px 11px 0px;
  }

  .item-md {
    padding-left: 8px;
  }
  .item-md ion-avatar[item-left],
  .item-md ion-thumbnail[item-left],
  .item-md ion-avatar[item-start],
  .item-md ion-thumbnail[item-start] {
    margin: 0px;
  }

  .profile-avatar ion-avatar img {
    border-radius: 0%;
  }

  .card-profile-photo {
    height: 42px;
    width: 42px;
  }

  vg-player {
    width: 100%;
    max-height: 250px;
    video {
      width: 100%;
    }
  }
}
