<ion-content>
  <ion-refresher (ionRefresh)="fetchCurrentUserProfile($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!userDetails" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <ion-card *ngIf="userDetails" (click)="goToProfilePage()" class="click">
    <ion-list>
      <ion-item>
        <ion-row>
          <ion-col>
            <ion-avatar item-start>
              <img [src]="userDetails.profilePhoto" />
            </ion-avatar>
          </ion-col>
          <ion-col col-10>
            <ion-card-header>{{ userDetails.displayName }}</ion-card-header>
            <ion-card-content class="share-post-text click">
              Share your thoughts
            </ion-card-content>
            <hr />
            <button ion-button color="nav" class="discover-btn">
              DISCOVER PEERS
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
