<ion-content>
  <ion-refresher *ngIf="userDetails" (ionRefresh)="fetchCurrentUserProfile($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!userDetails" class="spinner-container"><ion-spinner></ion-spinner></div>
  <ion-card *ngIf="userDetails" class="click round-card">
    <ion-list>
      <ion-item>
        <ion-row>
          <ion-col (click)="goToProfilePage()" col-2>
            <ion-avatar item-start>
              <img
                alt=""
                [defaultImage]="grayPlaceholder"
                [lazyLoad]="userDetails.thumbnail"
                class="cover-image"
              />
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-card-header (click)="goToProfilePage()">{{
              userDetails.displayName
            }}</ion-card-header>
            <ion-card-content class="profile-post">
              <button class="share-thought-btn" ion-button small clear>What's on your mind?</button>
            </ion-card-content>
            <hr />
            <button ion-button color="secondary" class="discover-btn">DISCOVER PEERS</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card *ngFor="let card of cards" class="post-card">
    <ion-item>
      <ion-avatar tappable item-start>
        <img alt="" class="cover-image card-profile-photo" [src]="card.avatarImageUrl" />
      </ion-avatar>
      <h2 tappable>{{ card.name }}</h2>
      <div class="options">
        <button ion-button icon-left clear large><ion-icon name="ios-more"></ion-icon></button>
      </div>
      <p>{{ card.date }}</p>
    </ion-item>
    <div><img alt="" class="contain-image click" [src]="card.postImageUrl" /></div>
    <ion-card-content class="post-content">
      <div>{{ card.postText }}</div>
      <button ion-button clear small icon-left class="likes">
        <ion-icon color="danger" name="heart"></ion-icon>
        {{ card.likes }}
      </button>
    </ion-card-content>
    <ion-row text-center>
      <ion-col>
        <button ion-button color="purple" clear small icon-left>
          <ion-icon class="animated bounceIn" name="ios-heart" color="danger"></ion-icon>
          {{ card.likes }} Likes
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="purple" clear small icon-left>
          <ion-icon name="ios-text-outline"></ion-icon>
          {{ card.comments }} Comments
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <p style="color: gray">{{ card.timestamp }}</p>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
