// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../theme/common';
.toastoffline .toast-container {
  background-color: red;
  height: 20px;
  text-align: center;
}

.toastonline .toast-container {
  background-color: green;
  height: 20px;
  text-align: center;
}

.add-toast .toast-container {
  background-color: mediumpurple;
  text-align: center;
  border-radius: 10px;
}

.add-toast.toast-md .toast-wrapper {
  top: 60px;
  width: 90%;
  border-radius: 10px;
}

.fail-toast .toast-container {
  background-color: #cf457a;
  text-align: center;
  border-radius: 10px;
}

.fail-toast.toast-md .toast-wrapper {
  top: 60px;
  width: 90%;
  border-radius: 10px;
}
.success-toast .toast-container {
  background-color: #49b7f0;
  text-align: center;
  border-radius: 10px;
}

.success-toast.toast-md .toast-wrapper {
  top: 60px;
  width: 90%;
  border-radius: 10px;
}

.contain-image {
  object-fit: contain;
  max-height: 430px;
  background: #d3d3d35e;
}

.cover-image {
  object-fit: cover;
}

.click:active {
  background: rgba(0, 0, 0, 0.2);
}

.spinner-container {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.content-md {
  background-color: #f7f7f7;
}

.item-input-has-focus .label-md[stacked],
.input-has-focus .label-md[stacked],
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating] {
  color: #008000;
}

.label-md[stacked],
.label-md[floating] {
  color: gray;
}

.card-md {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 4px;
  width: calc(100% - 8px);
  // box-shadow: rgba(58, 78, 95, 0.2) 0 10px 16px, rgba(58, 78, 95, 0.05) 0 -5px 16px;
  border-radius: 10px;
}

[_nghost-c0] {
  border-radius: 10px;
}

.popover-md .popover-content {
  border-radius: 10px;
}

.alert-md .alert-message {
  font-size: 15px;
}

.alert-md .alert-title {
  font-size: 21px;
}
