chat-list-page {
  .note-md {
    font-size: 13px;
    align-self: flex-start;
    margin-top: 14px;
  }

  .note-ios {
    font-size: 13px;
    align-self: flex-start;
    margin-top: 14px;
  }

  .list-header-md {
    margin: 0px;
  }

  .image-container .after {
    position: absolute;
    left: 45px;
    top: 42px;
    height: 14px;
    width: 14px;
    float: right;
  }

  .searchbar-md {
    padding: 2px 0px 4px 0px;
  }

  p.start-conversation-text {
    margin: 4px 0px 10px;
  }

  h3.no-message {
    margin-bottom: 0px;
  }

  .item-md {
    display: -webkit-inline-box;
    border-radius: 6px;
  }

  .searchbar-md .searchbar-input {
    padding: 6px 22px 6px 42px;
    border-radius: 6px;
  }

  .no-chat {
    padding: 50% 0%;
  }
}
