<ion-content>
  <ion-refresher *ngIf="displayMessages" (ionRefresh)="fetchDisplayMessages($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row *ngIf="displayMessages?.length === 0 && !messages" text-center padding>
    <ion-col text-center class="no-chat">
      <h3 class="no-message">No messages</h3>
      <p class="start-conversation-text">Start tour first conversation</p>
      <button ion-button color="secondary" block (click)="goToSearchUserPage()">Get Started</button>
    </ion-col>
  </ion-row>
  <ion-list no-lines>
    <ion-searchbar
      *ngIf="messages"
      [(ngModel)]="searchTerm"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="setFilteredItems($event)"
      (ionCancel)="onCancel($event)"
    >
    </ion-searchbar>
    <div *ngIf="!displayMessages" class="spinner-container"><ion-spinner></ion-spinner></div>
    <ion-item
      tappable
      class="click"
      *ngFor="let message of displayMessages"
      (click)="goToChatPage(message)"
      (press)="showActionSheet(message)"
    >
      <ion-avatar item-start *ngIf="message" class="image-container">
        <img
          alt=""
          [defaultImage]="grayPlaceholder"
          [lazyLoad]="message?.thumbnail || message?.profilePhoto"
          [errorImage]="message?.profilePhoto"
          class="cover-image"
          onerror="this.onerror=null;this.src='assets/default-user.jpeg';"
        />
        <!--
          <img
            *ngIf="message.userDetails.status == 'online'"
            class="after"
            src="http://worldartsme.com/images/green-circle-clipart-1.jpg"
          />
          <img
            *ngIf="message.userDetails.status == 'away'"
            class="after"
            src="http://www.join4jason.com/images/orange-dot.png?crc=208854078"
          />
        -->
      </ion-avatar>
      <h2 *ngIf="message.userName">{{ message?.userName }}</h2>
      <p *ngIf="currentUserId !== message.sentBy && message.message">{{ message?.message }}</p>
      <p *ngIf="currentUserId !== message.sentBy && message.imageUrl">Photo</p>
      <p *ngIf="message.message && currentUserId === message.sentBy">You: {{ message?.message }}</p>
      <p *ngIf="message.message && currentUserId === message.imageUrl">You: Photo</p>
      <ion-note item-end>{{ message.timeStamp | date: 'h:mm a' }}</ion-note>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
        [loadingSpinner]="loader"
        [loadingText]="loadingText"
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

  <ion-fab bottom right #fab *ngIf="messages">
    <button ion-fab color="secondary" (click)="goToSearchUserPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
