<ion-content>
  <ion-refresher (ionRefresh)="fetchDisplayMessages($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row *ngIf="displayMessages?.length === 0">
    <ion-col text-center> No Chats </ion-col>
  </ion-row>
  <ion-list no-lines>
    <ion-searchbar
      *ngIf="displayMessages?.length > 0"
      [(ngModel)]="searchTerm"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="setFilteredItems($event)"
      (ionCancel)="onCancel($event)"
    >
    </ion-searchbar>
    <div *ngIf="!displayMessages" class="spinner-container"><ion-spinner></ion-spinner></div>
    <ion-item
      tappable
      class="click"
      *ngFor="let message of displayMessages"
      (click)="goToChatPage(message)"
      (press)="presentPopover(message)"
    >
      <ion-avatar item-start *ngIf="message" class="image-container">
        <img
          [src]="message?.thumbnail || message?.profilePhoto"
          class="cover-image"
          onerror="this.onerror=null;this.src='assets/default-user.jpeg';"
        />
        <!--
          <img
            *ngIf="message.userDetails.status == 'online'"
            class="after"
            src="http://worldartsme.com/images/green-circle-clipart-1.jpg"
          />
          <img
            *ngIf="message.userDetails.status == 'away'"
            class="after"
            src="http://www.join4jason.com/images/orange-dot.png?crc=208854078"
          />
        -->
      </ion-avatar>
      <h2 *ngIf="message.userName">{{ message?.userName }}</h2>
      <p *ngIf="currentUserId !== message.sentBy && message.message">{{ message?.message }}</p>
      <p *ngIf="currentUserId !== message.sentBy && message.imageUrl">Photo</p>
      <p *ngIf="message.message && currentUserId === message.sentBy">You: {{ message?.message }}</p>
      <p *ngIf="message.message && currentUserId === message.imageUrl">You: Photo</p>
      <ion-note item-end>{{ message.timeStamp | date: 'h:mm
        a' }}</ion-note>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
        [loadingSpinner]="loader"
        [loadingText]="loadingText"
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
