navbar {
  .select-md .select-icon .select-icon-inner {
    color: #fff;
  }

  ion-select {
    max-width: 77%;
  }

  .select-md .select-icon {
    width: 19px;
  }

  .select-md .select-icon .select-icon-inner {
    left: 11px;
    top: 70%;
  }

  .select-md {
    padding: 0px 8px 0px 0px;
    float: left;
  }

  .bar-button-ios[icon-only] ion-icon {
    font-size: 1.6em;
  }

  .toolbar-ios-primary .toolbar-title-ios,
  .toolbar-ios-primary .bar-button-clear-ios,
  .toolbar-ios-primary .bar-button-default-ios {
    margin: 0px 5px;
  }
}
