<ion-navbar color="nav">
  <ion-title *ngIf="navbarTitle !== 'Events'"> {{ navbarTitle }} </ion-title>
  <ion-title *ngIf="navbarTitle === 'Events'">
    <ion-select
      interface="popover"
      [(ngModel)]="options"
      (ionChange)="changeOption($event)"
    >
      <ion-label>Category</ion-label>
      <ion-option value="all">All</ion-option>
      <ion-option value="events">Events</ion-option>
      <ion-option value="workshops">Workshops</ion-option>
      <ion-option value="classes">Classes</ion-option>
    </ion-select>
  </ion-title>
  <ion-buttons end>
    <button ion-button icon-only (click)="goToProfilePage()">
      <ion-icon name="person"></ion-icon>
    </button>
    <button ion-button icon-only (click)="goToNotificationPage()">
      <ion-icon name="md-notifications"></ion-icon>
    </button>
    <button ion-button icon-only (click)="presentPopover($event)">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
