<ion-header>
  <ion-navbar color="primary"> <ion-title>Title</ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="top-center">
      <ion-avatar>
        <img
          [imageViewer]="title.image"
          class="image cover-image"
          [defaultImage]="grayPlaceholder || title.thumbnail || title.image"
          [lazyLoad]="title.thumbnail || title.image"
        />
      </ion-avatar>
    </div>
    <ion-card class="main-content round-card" text-wrap>
      <div class="title-content">
        <h1 text-center>{{ title.title }}</h1>
        <div *ngIf="!showMore">
          {{ title.description.substring(0, 310) }}
          <div
            class="read-more"
            tappable
            (click)="changeContentLength()"
            *ngIf="title.description.length >= 310"
          >
            Read more...
          </div>
        </div>
        <div *ngIf="showMore">
          {{ title.description }}
          <div class="read-more" tappable (click)="changeContentLength()">Read less...</div>
        </div>
        <hr />
        <h2>
          <div class="left">Position</div>
          <div class="right">{{ title.winningPosition | titlecase }}</div>
        </h2>
        <br />
        <hr />
        <h2>
          <div class="left">Category</div>
          <div class="right">{{ title.competitionCategory | titlecase }}</div>
        </h2>
        <br />
        <hr />
        <h2>
          <div class="left">Type</div>
          <div class="right">{{ title.type | titlecase }}</div>
        </h2>
        <br />
        <hr />
        <h2>
          <div class="left">Year</div>
          <div class="right">{{ title.year }}</div>
        </h2>
        <br />
      </div>
    </ion-card>
  </div>
</ion-content>
