title-details-page {
  .main-content {
    margin-top: 80px;
    padding: 10px;
    box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    position: initial;
  }

  .image {
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: block;
    box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
  }

  .read-more {
    color: gray;
  }

  .container {
    position: relative;
  }

  .top-center {
    position: absolute;
    left: 0;
    top: 24px;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .title-content {
    margin-top: 50px;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}
