track-page {
  .item-md ion-thumbnail {
    min-width: 52px;
    min-height: 52px;
  }
  .item-md ion-thumbnail ion-img,
  .item-md ion-thumbnail img {
    width: 52px;
    height: 52px;
  }

  .item-md ion-avatar[item-left],
  .item-md ion-thumbnail[item-left],
  .item-md ion-avatar[item-start],
  .item-md ion-thumbnail[item-start] {
    margin: 6px 16px 0px 0px;
  }

  .label-md {
    margin: 13px 8px 0px 0;
  }
}
