<ion-content>
  <ion-item *ngFor="let track of myTracks" (click)="currentTrack = track">
    <ion-thumbnail item-left> <img alt="" src="{{ track.art }}" /> </ion-thumbnail>
    <h2>{{ track.title }}</h2>
  </ion-item>

  <audio-track
    #audioTrack
    [track]="currentTrack"
    [autoplay]="true"
    (onFinish)="onTrackFinished($event)"
  >
    <div style="display: flex; justify-content: center; height: 50px">
      <div *ngIf="audioTrack && audioTrack.hasLoaded">
        <em>{{ audioTrack?.title }}</em>
      </div>
      <!-- <ion-spinner *ngIf="audioTrack && audioTrack.isLoading"></ion-spinner> -->
    </div>
  </audio-track>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary" padding>
    <audio-track
      #audioTrack
      [track]="currentTrack"
      [autoplay]="true"
      (onFinish)="onTrackFinished($event)"
    >
      <audio-track-progress-bar
        duration
        progress
        [audioTrack]="audioTrack"
      ></audio-track-progress-bar>
      <ion-grid>
        <ion-row align-items-center id="media-controls">
          <button clear ion-col ion-button (click)="previous()">
            <ion-icon color="light" name="skip-backward"> </ion-icon>
          </button>
          <button
            clear
            ion-col
            ion-button
            (click)="audioTrack.canPlay ? audioTrack.play() : next()"
          >
            <ion-icon color="light" name="play"></ion-icon>
          </button>
          <button clear ion-col ion-button (click)="audioTrack.pause()">
            <ion-icon color="light" name="pause"></ion-icon>
          </button>
          <button clear ion-col ion-button (click)="next()">
            <ion-icon color="light" name="skip-forward"></ion-icon>
          </button>
        </ion-row>
      </ion-grid>
    </audio-track>
  </ion-toolbar>
</ion-footer>
