post {
  .likes {
    left: 87.5%;
  }

  .read-more {
    color: gray;
  }

  .hidden {
    display: none;
  }

  .options {
    .button-large-md {
      position: absolute;
      top: 0;
      right: 0;
    }
    .button-large-ios {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .ion-ios-heart {
    font-size: 1.9em;
  }

  .ion-ios-heart-outline {
    font-size: 1.9em;
  }

  .ion-ios-text-outline {
    font-size: 1.9em;
  }
}
