<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ userDetails?.userName }}</ion-title>
  </ion-navbar>
  <ion-toolbar color="primary" no-border>
    <ion-segment [(ngModel)]="type" color="light">
      <ion-segment-button value="Dropers" (ionSelect)="fetchFollowers()">
        Dropers
        <div class="vertical-line"></div>
      </ion-segment-button>
      <ion-segment-button value="Droping" (ionSelect)="fetchFollowings()">
        Droping
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'Dropers'" no-lines>
      <div *ngIf="followers.length === 0" class="spinner-container">
        <ion-spinner></ion-spinner>
      </div>
      <ion-row *ngIf="followerKeys.length === 0">
        <ion-col text-center> No Dropers </ion-col>
      </ion-row>
      <ion-item class="click" *ngFor="let user of followers" (click)="goToProfilePage(user)">
        <ion-avatar item-start>
          <img class="cover-image animated fadeIn" [src]="user.profilePhoto" />
        </ion-avatar>
        <h2>{{ user.userName }}</h2>
        <p>{{ user.displayName }}</p>
      </ion-item>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
          [loadingSpinner]="followerLoader"
          [loadingText]="followerLoadingText"
        ></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>

    <ion-list *ngSwitchCase="'Droping'" no-lines>
      <div *ngIf="following.length === 0" class="spinner-container">
        <ion-spinner></ion-spinner>
      </div>
      <ion-row *ngIf="followingKeys.length === 0">
        <ion-col text-center> No Dropings </ion-col>
      </ion-row>
      <ion-item class="click" *ngFor="let user of following" (click)="goToProfilePage(user)">
        <ion-avatar item-start>
          <img class="cover-image animated fadeIn" [src]="user.profilePhoto" />
        </ion-avatar>
        <h2>{{ user.userName }}</h2>
        <p>{{ user.displayName }}</p>
      </ion-item>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
          [loadingSpinner]="followingLoader"
          [loadingText]="followingLoadingText"
        ></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
  </div>
</ion-content>
