events-page {
  .vertical-align-content {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
    color: red;
  }

  .vertical-line {
    border-left: 1px solid lightgray;
    position: absolute;
    height: 80%;
    left: 97%;
    top: 7px;
  }

  .card-content-md {
    padding: 5px 5px;
  }

  ion-card .original {
    max-height: 190px;
  }

  .date {
    font-weight: bold;
  }

  .card-content-ios {
    padding: 5px 5px;
  }

  .book {
    text-align: end;
  }

  .grid {
    padding: 0px;
  }

  .card-md p {
    margin: 0px 0px;
    color: gray;
  }

  .card-ios p {
    margin: 0px 0px;
    color: gray;
  }

  [col-7] {
    padding: 5px 10px;
  }

  ion-card .placeholder {
    height: 190px;
  }

  .searchbar-md {
    padding: 2px 0px 1px 0px;
  }

  .searchbar-md .searchbar-input {
    padding: 6px 22px 6px 42px;
    border-radius: 8px;
  }
}
