<ion-content>
  <div *ngIf="!titles" class="spinner-container"><ion-spinner></ion-spinner></div>
  <ion-refresher (ionRefresh)="getTitles($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row *ngIf="titles?.length === 0">
    <ion-col text-center class="no-title"> No title yet! </ion-col>
  </ion-row>
  <ion-list no-lines *ngIf="titles && titles?.length > 0">
    <ion-list-header>Titles</ion-list-header>
    <ion-item-sliding *ngFor="let title of titles">
      <ion-item
        class="click animated fadeIn"
        tooltip="Slide left for more options"
        positionV="top"
        leftOffset="50"
        arrow
        duration="2000"
      >
        <ion-avatar item-start>
          <img
            class="cover-image"
            [src]="
              title.title.thumbnail ||
              title.title.image ||
              'https://banner2.kisspng.com/20180406/ype/kisspng-computer-icons-trophy-award-trophy-5ac75f9eef5be5.5335408415230155829804.jpg'
            "
          />
        </ion-avatar>
        <h2>{{ title.title.title }}</h2>
        <p>{{ title.title.description }}</p>
      </ion-item>

      <ion-item-options side="right" *ngIf="uid === currentUserId">
        <button ion-button color="danger" (click)="showConfirm(title.key)">
          <ion-icon name="md-trash"></ion-icon>
          Delete
        </button>
        <button ion-button color="light" (click)="goToTitlesFormPage(title)">
          <ion-icon name="md-create"></ion-icon>
          Edit
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
