titles-page {
  .item-md p {
    font-size: 1.25rem;
  }

  ion-note {
    font-size: 14px;
    align-self: flex-start;
    margin-top: 14px;
  }

  .list-header-md {
    margin: 2px 0px;
  }

  .item-md.item-block .item-inner {
    padding-right: 0px;
  }
  .grid {
    padding: 0px;
  }
  .label-md {
    margin: 5px 8px 1px 0px;
  }

  .list-header-md {
    // background: #9acd3203;
    min-height: 36.5px;
  }

  .my-icon {
    float: right;
    color: #242424;
    font-size: 2.1em;
    margin-right: 5px;
  }

  .no-title {
    padding: 50% 0%;
  }
}
