<ion-header>
  <ion-navbar color="primary">
    <ion-buttons end *ngIf="type !== 'userPost'">
      <button ion-button (click)="updateEventPost(myInput)">Post</button>
    </ion-buttons>
    <ion-buttons end *ngIf="type === 'userPost'">
      <button ion-button (click)="updateUserPost(myInput)">Post</button>
    </ion-buttons>
    <ion-title>{{ event.name || 'Create Post' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="post-padding">
    <ion-row>
      <ion-col col-3 *ngIf="image || post?.imageUrl">
        <ion-thumbnail item-start (click)="presentImage(myImage)">
          <img class="cover-image" [src]="image || post?.imageUrl" alt="" #myImage />
        </ion-thumbnail>
      </ion-col>
      <ion-col>
        <ion-textarea
          placeholder="Write something..."
          rows="5"
          [value]="post?.textualContent"
          #myInput
          (keyup)="adjust()"
        ></ion-textarea>
      </ion-col>
    </ion-row>

    <button
      *ngIf="type !== 'userPost' && !post"
      ion-button
      color="secondary"
      block
      (click)="createEventPost(myInput)"
    >
      Post
    </button>
    <button
      *ngIf="type === 'userPost' && !post"
      ion-button
      color="secondary"
      block
      (click)="createUserPost(myInput)"
    >
      Post
    </button>
    <button
      *ngIf="type !== 'userPost' && post"
      ion-button
      block
      color="secondary"
      (click)="updateEventPost(myInput)"
    >
      Post
    </button>
    <button
      *ngIf="type === 'userPost' && post"
      ion-button
      block
      color="secondary"
      (click)="updateUserPost(myInput)"
    >
      Post
    </button>
  </ion-card>
</ion-content>
