<ion-header>
  <ion-navbar color="primary"> <ion-title> My Events </ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher *ngIf="events" (ionRefresh)="getMyEvents($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!events" class="spinner-container"><ion-spinner></ion-spinner></div>
  <ion-row *ngIf="events?.length === 0">
    <ion-col text-center class="no-event"> No Event </ion-col>
  </ion-row>
  <ion-list>
    <ion-item-sliding *ngFor="let event of events">
      <ion-item
        class="click animated fadeIn"
        tooltip="Slide left for more options"
        positionV="top"
        leftOffset="50"
        arrow
        duration="2000"
      >
        <ion-thumbnail item-start>
          <img [src]="event.imageUrl" class="cover-image" />
        </ion-thumbnail>
        <h2>{{ event.eventName }}</h2>
        <p>{{ event.eventCity }}</p>
        <p>{{ event.startDateAndTime | date: 'MMM d, y, h:mm a' }}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="goToTrackEventPage(event)">
          <ion-icon name="analytics"></ion-icon>
          Track
        </button>
        <button ion-button color="light" (click)="goToCreateEventPage(event)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="deleteEvent(event)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
