<ion-header>
  <ion-navbar color="primary"> <ion-title> My Events </ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="getMyEvents($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!events" class="spinner-container"><ion-spinner></ion-spinner></div>
  <ion-list>
    <ion-item-sliding *ngFor="let event of events">
      <ion-item
        class="click animated fadeIn"
        tooltip="Slide left for more options"
        positionV="top"
        leftOffset="50"
        arrow
        duration="2000"
      >
        <ion-thumbnail item-start> <img [src]="event.eventImage" /> </ion-thumbnail>
        <h2>{{ event.eventName }}</h2>
        <p>{{ event.eventCity }}</p>
        <p>{{ event.startDateAndTime | date: 'MMM d, y, h:mm a' }}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="goToTrackEventPage(event)">
          <ion-icon ios="ios-analytics" md="md-analytics"></ion-icon>
          Track
        </button>
        <button ion-button color="light" (click)="goToCreateEventPage(event)">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
          Edit
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="deleteEvent(event)">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
