create-event-page {
  .item-ios {
    border-bottom: 1px solid #c2c2c2;
  }

  .float-right {
    float: right;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
  }

  .img-placeholder {
    background: #000;
    height: 200px;
  }

  img {
    max-height: 190px;
  }

  .container {
    opacity: 0.9;
    position: relative;
    text-align: center;
    color: #fff;
  }

  .round-card {
    margin: 0px;
    width: 100%;
  }
}
